h1,h2, .score{
    font-size: large;
    text-align: center;
    margin: 10px;
}
button {
    display: block;
    margin: auto;
} 
body {
    background-color: #4d9e3a;
}
.container {
    width: 750px;
    margin: auto;
    cursor: url(https://github.com/sandhikagalih/pukul-tikus-tanah/blob/master/img/palu1.png?raw=true),auto;
}

.container:active{
    cursor: url(https://github.com/sandhikagalih/pukul-tikus-tanah/blob/master/img/palu2.png?raw=true),auto;
}

.soil {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    float: left;
}

.soil::after {
    content: '';
    display: block;
    width: 250px;
    height: 125px;
    background: url(https://cdn.clipart.email/5d63c8a2a9f3b013cca9759477d121e5_the-water-need-the-dirt-or-clipart-panda-free-clipart-images_2400-876.png) center no-repeat;
    background-size: 60%;
    position: absolute;
    bottom: -50px;
}

.mole {
    width: 100%;
    height: 100%;
    background: url(https://img.pngio.com/index-of-yl2407-system-images-moles-png-mole-200_240.png) center no-repeat;
    background-size: 45%;
    position: absolute;
    top: 170px;
    transition: top 0.4s;
}

.soil.show .mole {
    top: 40px;
}